<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <style type="text/css" rel="stylesheet">
        body{
        background: linear-gradient(18deg, rgb(121, 75, 247), rgb(255, 96, 96), rgb(233, 143, 40));
        text-align: center;
        margin-top: 200px;
        margin-left: 10px;
        }
    </style>  
    <%=session.title%> <br>
    <%=session.speaker.name%> <br> 
    Speaker Bio: <%=session.speaker.bio%> <p>
    <%=session.description%> <br>
</body>
</html>