<!DOCTYPE html>
<html lang="en">

<head>
  <title>Globomantics || Sign-in</title>
</head>

<div class="wrapper">
  <body>
    <style type="text/css" rel="stylesheet">
      body{
        background: linear-gradient(380deg, rgb(121, 75, 247), rgb(255, 96, 96), rgb(233, 143, 40));
      }

    .wrapper{
      text-align: center;
      margin-top: 200px;
      margin-left: 10px;
    }

  </style>
<form name ="signup" action="/auth/signIn" method="post">
    username: <input name="username" id="username" style="color: black"/></br>
    <p></p>
    password: <input type="password" name="password" id="password" style="color: black"/></br>
    <div class="button">
      <style type="text/css" rel="stylesheet">
        .button{
          text-align: center;
          margin-top: 10px;
          margin-left: 55px;
        }
    
      </style>

  <input type="submit" value="SIGN IN TODAY" class="btn btn-primary btn-lg" style="margin-top: 10px;"></input>
    </div>
  </form>
  </body>
</div>
 
 

</html>